<div class="container-fluid">
    {{> Nav/storageNav}}
    <div class="row">
        <div class="col-12 col-md-3 tabs">
            <div class="nav flex-column nav-pills" id="v-pills-tab"
                role="tablist"
                aria-orientation="vertical">
                <div class="card w-100 h-100 border border-0">
                    <div class="card-body">
                        <button id="dashboard" class="w-100 text-start nav-link  mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button" role="tab"
                            aria-controls="v-pills-dashboard" aria-selected="true"><i
                                class="fa-solid fa-house me-2"></i>Dashboard</button>
                        <button id="brand" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-brands fa-bandcamp me-2"></i>Brands</button>
                        <button id="type" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-layer-group me-2"></i>Types</button>
                        <button id="car" class="w-100 text-start nav-link mb-1 active" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-car me-2"></i>Cars</button>
                        <button id="ap" class="w-100 text-start nav-link mb-1" data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button" role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i class="fa-solid fa-gears me-2"></i>Auto&nbsp;Parts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 tab_content">

            <div class="card-body p-3 bg-white" id="mainContent">
                <div class="row justify-content-evenly main-content col-12">

                    <div class=" hstack">
                        <div class="ms-auto add-experience close"><i class="fa-solid fa-arrow-left"></i>&nbsp;Back
                        </div>
                    </div><br>
                </div>
                <form class="edit-form" action="/car/edit/{{curCar.id}}" data-id="{{curCar.id}}" method="POST"
                    enctype="multipart/form-data">
                    <div class="form-container rounded bg-white">
                        <div class="row justify-content-center">
                            <div class="col-md-4 border-right">
                                <div class="d-flex flex-column align-items-center text-center"><img
                                        class="rounded-circle" width="150px"
                                        src="/images/cars/{{curCar.id}}/avatar.png"><span
                                        class="font-weight-bold">Avatar</span>

                                    <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB
                                    </div>

                                    <input id="input-id" type="file" multiple class="file form-control"
                                        data-preview-file-type="text" name="avatar" data-show-upload="false">
                                </div>
                            </div>
                            <div class="col-md-7 border-right ms-5 ps-4">
                                <div class="">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="text-right">Car info</h4>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12"><label class="labels">Name</label><input type="text"
                                                class="form-control" placeholder="name" required name="car_name"
                                                value="{{curCar.car_name}}">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12"><label class="labels">Select Brand</label><select
                                                required name="brand" id="brand" class="form-select">
                                                {{#each allBrands}}
                                                <option {{#when this.brand 'eq' ../curCar.brand}}selected{{/when}}
                                                    value="{{this.brand}}">{{this.brand}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        <div class="col-md-12"><label class="labels">Select Type</label>
                                            <select required name="type" id="type" class="form-select">
                                                {{#each allTypes}}
                                                <option {{#when this.type 'eq' ../curCar.type}}selected{{/when}}
                                                    value="{{this.type}}">{{this.type}}</option>
                                                {{/each}}
                                            </select>

                                        </div>
                                        <div class="col-md-12"><label class="labels">Year</label><input type="number"
                                                class="form-control" placeholder="year" required name="year"
                                                value="{{curCar.year}}">
                                        </div>
                                        <div class="col-md-12"><label class="labels">Price</label><input type="number"
                                                class="form-control" placeholder="price" required name="price"
                                                value="{{curCar.price}}">
                                        </div>
                                        <div class="col-md-12"><label class="labels">Description</label><input
                                                type="text" class="form-control" name="description"
                                                placeholder="description" required value="{{curCar.description}}">
                                        </div>
                                        <div class="col-md-12"><label class="labels">Quantity</label><input disabled
                                                type="text" class="form-control" name="quantity" required
                                                placeholder="quantity" value="{{curCar.quantity}}"></div>
                                        <div class="col-md-12"><label class="labels">Add cars</label><input
                                                type="number" class="form-control" name="add" required
                                                placeholder="quantity" value="0"></div>
                                        <div class="col-md-12"><label class="labels">Illustrate Images</label>
                                            <input id="input-24" name="other-images" type="file" multiple>
                                        </div>
                                    </div>
                                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                            type="submit">Update
                                        </button></div>
                                </div>
                            </div>


                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>