<div class="container-fluid">
    {{> Nav/saleNav}}
    <div class="row">
        <div class="col-12 col-md-3 gy-2 tabs">
            <div class="nav flex-column nav-pills h-100" id="v-pills-tab"
                role="tablist" aria-orientation="vertical">
                <div class="card w-100 border border-0 h-100">
                    <div class="card-body">
                        <button id="dashboard"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-dashboard" type="button"
                            role="tab"
                            aria-controls="v-pills-dashboard"
                            aria-selected="true"><i
                                class="fa-solid fa-house me-2"></i>
                            Dashboard</button>
                        <button id="report"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-regular fa-file-lines me-3"></i>Report</button>
                        <button id="sale-invoices"
                            class="w-100 text-start nav-link mb-1"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice-dollar me-3"></i>Sale
                            Invoices</button>
                        <button id="fix-invoices"
                            class="w-100 text-start nav-link mb-1 active"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-document" type="button"
                            role="tab" aria-controls="v-pills-document"
                            aria-selected="false"><i
                                class="fa-solid fa-file-invoice me-3"></i>Fix
                            Invoices</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 gy-2 tab_content">
            <div class="card-body h-100 p-3 bg-white d-flex flex-column"
                id="mainContent">
                <table class="table table-hover">
                    <thead class="table-danger">
                        <tr>
                            <th scope="col">Customer&nbsp;Name</th>
                            <th scope="col">Date</th>
                            <th scope="col">Total Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each invoices}}
                        <tr
                            onclick="window.location.href = '/fixDetail?invoiceId={{this.fixrecord_id}}'">
                            <td>{{this.lastname}} {{this.firstname}}</td>
                            <td>{{this.date}}</td>
                            <td>{{this.total_price}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <ul class="pagination justify-content-center col-12">
                    <li
                        class="page-item {{#orCompare pageState 'min' 'only'}} disabled {{/orCompare}}">
                        <a class="page-link"
                            href="/fixInvoices?page={{#subtract page 1}}{{/subtract}}">Previous</a>
                    </li>
                    <li
                        class="page-item"><span
                            class="page-link">{{page}}&nbsp;/&nbsp;{{totalPage}}</span>
                    </li>
                    <li
                        class="page-item {{#orCompare pageState 'max' 'only'}} disabled {{/orCompare}}">
                        <a class="page-link"
                            href="/fixInvoices?page={{#addInt page 1}}{{/addInt}}">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>