<div id="popupWindow" class="z-3 w-50  d-none">
</div>
<div class="overlay z-2 d-none" id="overplay"></div>
<div class="container-fluid">
    {{> Nav/guestNav}}
    <div class="row">
        <div class="row ps-5 pe-5 pt-1 pb-1 bgPrimary">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {{#each sliderImage}}
                    <div class="carousel-item {{#if @first}}active{{/if}}" data-bs-interval="10000">
                        <img src="images/advertisement/{{this}}" class="d-block w-100" style="height: 20rem;" alt="...">
                    </div>
                    {{/each}}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-md-3">
            {{!-- Left slide --}}
            <div class="h-100 bg-white w-100 p-3">
                <div class=" mb-3">
                    <p class="fs-8 textPrimary">Menu</p>
                    <div id="menu">
                        <button type="button" onclick="menuClickEvent(null,null)" class="btn btn-light w-100 text-start"
                            style="border-radius: 0;">ALL</button>
                        {{#each brand }}
                        <div class="btn-group dropend w-100">
                            <button type="button" onclick="menuClickEvent('{{this.brand}}',null)" class=" text-start btn btn-light w-75" style="border-radius: 0;">
                                {{this.brand}}
                            </button>
                            <button type="button"
                                class=" text-center btn btn-light w-25 dropdown-toggle dropdown-toggle-split "
                                style="border-radius: 0;" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropend</span>
                            </button>
                            <ul class="dropdown-menu">
                                {{#each ../type}}
                                    <li class="dropdown-item" onclick="menuClickEvent('{{../this.brand}}','{{this.type}}')" >{{this.type}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                </div>

                {{!-- Year --}}
                <div class="checkBox mb-3">
                    <p class="fs-8 textPrimary">Year</p>
                    <div class="ms-3">
                        <p><a href="#" onclick="removeAllCheckBox(event)" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Remove all</a></p>
                        {{#each years}}
                        <div class="form-check" id="YearCheckList">
                            <div>
                                <input oninput="updateData()" class="form-check-input yearOption" type="checkbox"
                                    value="{{this.year}}" id="{{this.year}}">
                                <label class="form-check-label" for="${{this.year}}">
                                    {{this.year}}
                                </label>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>

                {{!-- Price --}}
                <div class="mb-3">
                    <p class="fs-8 textPrimary">Max Price</p>
                    <div class="ms-3">
                        <div>Current max price: <span id="CurrentMP">{{maxPrice}}$</span></div>
                        <input type="range" class="form-range" min="0" max="{{maxPrice}}" step="1000" id="maxPriceRange"
                            value="{{maxPrice}}">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="ms-0">0$</div>
                            <div class="me-0">{{maxPrice}}$</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {{!-- Main content --}}
            <div class="bg-white d-flex justify-content-center flex-column h-100" id="MainContent">
                <div class="w-100 p-3   d-flex justify-content-between">
                    <div class="me-auto">
                        <h2 class=" textPrimary" id="menuContent">All</h2>
                    </div>
                    <div class="searchForm w-50 me-3">
                        <i class="fa fa-search"></i>
                        <input id="SearchBar" oninput="updateData()" class="form-control me-auto w-100 rounded-pill" type="search"
                            placeholder="Search car name" aria-label="Search">
                    </div>
                </div>
                <div class="row mb-auto  p-3 w-100" id="CarList">


                </div>
                <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" onclick="prePage()" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" id="PageInfo"></a></li>
                        <li class="page-item">
                            <a class="page-link" onclick="nextPage()" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    {{>footer}}
</div>
{{#if userId}}
<script>
    let userId = {{ userId }}
</script>
{{/if}}