<div class="container-fluid">
    {{> Nav/guestNav}}
    <div class="mb-3 mt-3">
        <button onclick="backToPrePage()" type="button" class="btn btn-primary bgPrimary">
            <i class="fa-solid fa-chevron-left"></i> Back
        </button>
    </div>
    <div class="row">
        <div class="card border-0">
            <div class="card-body">
                <h4 class="card-title textPrimary fw-bold">Order detail</h4>
                <h5 class="card-title textPrimary fw-bold">Date: {{order.date}}</h5>
                <h5 class="card-title textPrimary fw-bold">ID: {{order.salerecord_id}}</h5>

                <div  style="height: 20rem;">
                    <table class="table table-hover">
                        <thead class="table-info" id="tbHeader">
                            <tr class="text-center">
                                <th scope="col">#</th>
                                <th scope="col">Car name</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Total price</th>
                            </tr>
                        </thead>
                        <tbody id="tbBody">
                            {{#each saleData }}
                            <tr class="text-center">
                                <td scope="col">{{add @index 1}}</td>
                                <td scope="col">{{this.car.car_name}}</td>
                                <td scope="col">{{this.quantity}}</td>
                                <td scope="col">{{this.car.price}}</td>
                                <td scope="col">{{mul this.car.price this.quantity}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <nav class="d-flex justify-content-center" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" onclick="prePage(event)" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" id="PageInfo"></a></li>
                            <li class="page-item">
                                <a class="page-link" onclick="nextPage(event)" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
        <div class="d-flex flex-row-reverse  w-100">
            <div class="fs-4 textPrimary fw-bold me-3">TOTAL: {{order.total_price}}$</div>
        </div>
    </div>

    {{> footer}}
</div>
{{#if userId}}
<script>
    let userId = {{ userId }}
</script>
{{/if}}

<script>
    let data = [];
    {{#each saleData }}
    data.push($(
        `
            <tr class="text-center">
                                <td scope="col">{{add @index 1}}</td>
                                <td scope="col">{{this.car.car_name}}</td>
                                <td scope="col">{{this.quantity}}</td>
                                <td scope="col">{{this.car.price}}</td>
                                <td scope="col">{{mul this.car.price this.quantity}}</td>
                            </tr>
            `
    ))
    {{/each}}
</script>